.DesktopIcon {
  width: 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;

  img {
    width: 3.75rem;
    align-self: center;

    &:hover {
      cursor: pointer;
    }
  }

  label {
    align-self: center;

    &:hover {
      cursor: pointer;
    }
  }
}
