@use "../../../constants/colors" as *;
@use "../../../constants/borders" as *;

// window icons
$x: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAATUlEQVQYlZ2RQQ7AIAzD4v3/z+HEVLogwXpC1FZTwLZu6pkHwMDH7vevYJsJVLj2JIkeqU+p8DIhAR2OQoq0FWrmtNMipAXjQ/z+h9MaAucxEWL07JoAAAAASUVORK5CYII=";
$max: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAOUlEQVQYld2RMQoAIAzEcuL/vxw3kSKoq5lzbelFJYkcUAPQTmKl1wk71gueN/wQmF+66QIgeuVNBqtLDxPoqi0wAAAAAElFTkSuQmCC";
$min: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAKElEQVQYlWP8//8/AymAiSTVI1UDC4zByMiINXz////PSJENjKRGHAAvZgoPiLbuwwAAAABJRU5ErkJggg==";
$ex: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAUElEQVQokZXPqxUAIAxD0ZSREQgGQCBYOSg4/Fuib8QTkvgY3Q9OucB6YMoFAEyHjmPwoh0mDKVhw6+GI741XPGp4YnXBhWPDSbcGsw4Bi8V/BZRwMk/E5EAAAAASUVORK5CYII=";
.WindowModal {
  &__wrapper {
    font-family: "MS Sans Serif";
    display: flex;
    background-color: $gray;
    position: absolute;
  }

  &__outer-container {
    display: flex;
    @include inset-border($gray, $black, $black, $gray);
    padding: 1px;
    flex: 1 1;
    overflow: hidden;
  }

  &__inner-container {
    display: flex;
    @include inset-border($white, $darkGray, $darkGray, $white);
    flex: 1 1;
    flex-direction: column;
    padding: calc(0.125rem + 1px);
    overflow: hidden;
  }

  &__outer-content {
    display: flex;
    @include inset-border($darkGray, $white, $white, $darkGray);
    padding: 1px;
    flex-grow: 1;
    margin: 0.5rem 0;
    overflow: hidden;
  }

  &__inner-content {
    display: flex;
    @include inset-border($black, $gray, $gray, $black);
    padding: 1px;
    background-color: $white;
    flex: 1 1;
    font-size: 0.875rem;
    overflow: hidden;
  }

  &__header {
    background-color: $blue;
    color: $white;
    font-size: 1rem;
    padding: 0.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      cursor: move;
    }
  }

  &__title {
    width: 100%;
  }

  &__icons {
    display: flex;
    gap: 0.125rem;
  }

  &__icon-button {
    background-color: $gray;
    width: 1rem;
    height: 0.9375rem;
    @include inset-border($white, $black, $black, $white);
    padding: 1px;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &--min {
      &:after {
        content: "";
        background-image: url($min);
        background-repeat: no-repeat;
        position: absolute;
        top: 0.125rem;
        left: 0.0625rem;
        width: 0.9375rem;
        height: 0.9375rem;
      }
    }

    &--max {
      &:after {
        content: "";
        background-image: url($max);
        background-repeat: no-repeat;
        position: absolute;
        top: 0.125rem;
        left: 0.0625rem;
        width: 0.9375rem;
        height: 0.9375rem;
      }
    }

    &--close {
      &:after {
        content: "";
        background-image: url($x);
        background-repeat: no-repeat;
        position: absolute;
        top: 0.125rem;
        left: 0.0625rem;
        width: 0.9375rem;
        height: 0.9375rem;
      }
    }
  }

  &__footer {
    display: flex;
    @include inset-border($darkGray, $white, $white, $darkGray);
    padding: calc(0.125rem + 1px);
    font-size: 0.875rem;
    position: relative;

    &:after {
      content: "";
      background-image: url($ex);
      background-repeat: no-repeat;
      position: absolute;
      top: 0.5rem;
      right: -0.1875rem;
      width: 0.9375rem;
      height: 0.9375rem;
    }
  }

  // credit: henry heffernan
  &__drag-box {
    display: flex;
    position: absolute;
    margin: auto;
    z-index: 100;
    box-sizing: border-box;
    flex-direction: column;
    cursor: move;
    mix-blend-mode: difference;
  }

  &__drag-box-horizontal {
    width: 100%;
    height: 0.375rem;
    background-color: $white;
    pointer-events: none;
  }

  &__drag-box-vertical-container {
    width: 100%;
    height: calc(100% - 0.75rem);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
  }

  &__drag-box-vertical {
    width: 0.375rem;
    height: 100%;
    background-color: $white;
    pointer-events: none;
  }

  &__checkerboard {
    background-image: linear-gradient(45deg, black 25%, transparent 25%),
      linear-gradient(-45deg, black 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, black 75%),
      linear-gradient(-45deg, transparent 75%, black 75%);
    background-size: 4px 4px;
    background-position:
      0 0,
      0 2px,
      2px -2px,
      -2px 0px;
    pointer-events: none;
  }
}
