@use "../../../constants/colors" as *;
@use "../../../constants/borders" as *;

.ContactMe {
  background-color: $gray;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 0.9rem;

  &__container {
    box-shadow: $defaultButton;
    padding: 1rem;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
  }

  &__tab-list {
    display: flex;
    gap: 4px;
    padding-left: 3px;
    position: relative;
  }

  &__tab {
    box-shadow: // inner top left
      -1px -1px $lightGray,
      -1px 0 $lightGray,
      0 -1px $lightGray,
      // outer top left
      -2px -2px $white,
      //   -2px 0 $white,
      0 -2px $white,
      // corners
      1px -2px $darkGray,
      2px -2px $black;
    padding: 0.3rem;
    border-radius: 4px 4px 0 0;
    background-color: $gray;
    margin-bottom: 2px;

    &:hover {
      cursor: pointer;
    }
  }

  &__tab--active {
    position: relative;
    margin-bottom: -2px;
    z-index: 1;
  }

  &__divider {
    @include divider($darkGray, $white);
    margin: 1rem 0;
  }

  &__heading {
    display: flex;
    gap: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
  }

  &__button {
    box-shadow: $defaultButton;
    border: none;
    background-color: $gray;
    font-family: "MS Sans Serif";
    color: $black;
    font-size: 1rem;
    padding: 0.25rem 1rem;

    &:hover {
      cursor: pointer;
    }

    &:active {
      box-shadow: $pressedButton;
    }

    &:disabled {
      color: $darkGray;

      &:hover {
        cursor: default;
      }

      &:active {
        box-shadow: $defaultButton;
      }
    }
  }

  &__links {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    a {
      box-shadow: $defaultButton;
      display: flex;

      &:active {
        box-shadow: $pressedButton;
      }
    }
  }
}
