@use "../../../constants/colors" as *;
@use "../../../constants/borders" as *;

$start: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAABTUlEQVQ4jaWS4Y7jIBCDPw/QJpu+/4ueqna7Ad+PSVLttied7pCQSWAY21i2+Z8Rf3NIai71ZEkuunzvaPuPM0ozFU/EE0kMFid7yW+LWY6iETKSg8VyNRVDzgiUNJu846ziUa9Ma3DTvGnNc3U17VagAlS0m6gms8JE8GAG3RiYkXV8DHEn0OaA6rZhLW8lpN6a9CsOxeHFLiNYrBGy+pBLWH3osxSfPaNyTerrkp3KA0ZnOECdyTuDvasW3yMNG6HspsQmH+urkwWSQ2Gk9f0r5KYJO/QrXa94+GyvOl4oPpxZKvFpgIjuU2C3M9g0Q+FCsEAX4gFcXoMkrSZswl4Yh2GEPRHWac6OCtuZC8AKhfvoeolvk6NHmlbX/Bczfnwd39EDoG6RJHG7ORRH2n76AzVNLM3PIKkZddQm/HVPeWO8MPvGMuJ5wb+O313iKFEd0WMgAAAAAElFTkSuQmCC";

.Desktop {
  &__container {
    font-family: "MS Sans Serif";
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 3px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    animation:
      turn-on 0.5s cubic-bezier(0.23, 1, 0.32, 1) 1s both,
      flicker 1s steps(1, end) 1s forwards;
  }

  &__icons {
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    gap: 1.25rem;
  }

  &__start-bar {
    font-family: "MS Sans Serif";
    height: 1.5625rem;
    background-color: $gray;
    padding: 0.25rem;
    box-shadow:
      -1px -1px $white,
      -2px -2px $gray;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    z-index: 15;
    justify-content: end;
  }

  &__start-button {
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 100%;
    background-color: $gray;
    position: relative;
    padding-left: 1.875rem;
    box-shadow: $defaultButton;

    &:hover {
      cursor: pointer;
    }

    &:active {
      box-shadow: $pressedButton;
    }

    &:after {
      content: "";
      background-image: url($start);
      background-repeat: no-repeat;
      position: absolute;
      top: 0.125rem;
      left: 0.3125rem;
      width: 1.875rem;
      height: 1.875rem;
      background-size: 1.25rem;
    }
  }

  &__start-button-pressed {
    box-shadow: $pressedButton;
  }

  &__start-menu {
    background-color: $gray;
    width: 17rem;
    height: 23rem;
    position: absolute;
    bottom: 2rem;
    left: 0;
    box-shadow: $defaultButton;
    display: flex;
  }

  &__start-menu-banner {
    background-color: $darkGray;
    width: 3rem;
    line-height: 1.2;
    color: $gray;
    font-family: "FranklinGothic";
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 3rem;
    padding-top: 0.5rem;
  }

  &__start-menu-buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    width: 100%;
  }

  &__start-menu-divider {
    @include divider($darkGray, $white);
    width: 100%;
  }

  &__start-menu-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0 0.5rem 0.5rem;

    img {
      width: 50px;
    }

    &:hover {
      cursor: pointer;
      background-color: #000080;
      color: $white;
    }
  }

  &__window-button {
    display: flex;
    align-items: center;
    background-color: $gray;
    min-width: 12.5rem;
    height: 1.5rem;
    cursor: pointer;
    box-shadow: $defaultButton;

    &--active {
      box-sizing: border-box;
      box-shadow: $pressedButton;
    }

    img {
      height: 1.25rem;
      margin: 0 0.3125rem;
    }
  }

  &__checkerboard {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, white 25%, transparent 25%),
      linear-gradient(-45deg, white 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, white 75%),
      linear-gradient(-45deg, transparent 75%, white 75%);
    background-size: 4px 4px;
    background-position:
      0px 0px,
      0px 2px,
      2px -2px,
      -2px 0px;
  }

  &__time {
    @include inset-border($darkGray, $white, $white, $darkGray);
    height: 1.5625rem;
    display: flex;
    align-items: center;
    font-size: 0.9375rem;
    padding: 1px calc(0.25rem + 1px);
    margin-left: auto;
    margin-right: 0.625rem;
  }
}

@keyframes turn-on {
  0% {
    transform: scale(0, 0);
    filter: brightness(5);
  }
  40% {
    transform: scale(1, 0.005);
    filter: brightness(4);
  }
  100% {
    transform: scale(1, 1);
    filter: brightness(1);
  }
}

// @keyframes flicker {
//   0%,
//   100% {
//     opacity: 1;
//   }
//   10%,
//   24%,
//   55% {
//     opacity: 0.2;
//   }
//   11%,
//   25%,
//   56% {
//     opacity: 1;
//   }
//   40% {
//     opacity: 0.6;
//   }
//   41% {
//     opacity: 1;
//   }
// }
@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  8%,
  20%,
  50% {
    opacity: 0.2;
  }
  12%,
  24%,
  54% {
    opacity: 1;
  }
  38% {
    opacity: 0.6;
  }
  42% {
    opacity: 1;
  }
}
