@use '../../constants/colors' as *;

// window icons
$x: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAATUlEQVQYlZ2RQQ7AIAzD4v3/z+HEVLogwXpC1FZTwLZu6pkHwMDH7vevYJsJVLj2JIkeqU+p8DIhAR2OQoq0FWrmtNMipAXjQ/z+h9MaAucxEWL07JoAAAAASUVORK5CYII=';
$max: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAOUlEQVQYld2RMQoAIAzEcuL/vxw3kSKoq5lzbelFJYkcUAPQTmKl1wk71gueN/wQmF+66QIgeuVNBqtLDxPoqi0wAAAAAElFTkSuQmCC';
$min: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAKElEQVQYlWP8//8/AymAiSTVI1UDC4zByMiINXz////PSJENjKRGHAAvZgoPiLbuwwAAAABJRU5ErkJggg==';
$ex: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAUElEQVQokZXPqxUAIAxD0ZSREQgGQCBYOSg4/Fuib8QTkvgY3Q9OucB6YMoFAEyHjmPwoh0mDKVhw6+GI741XPGp4YnXBhWPDSbcGsw4Bi8V/BZRwMk/E5EAAAAASUVORK5CYII=';
.WindowModal {
  &__wrapper {
    font-family: 'MS Sans Serif';
    display: flex;
    background-color: $gray;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__outer-container {
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: $gray $black $black $gray;
    flex: 1 1;
  }

  &__inner-container {
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: $white $darkGray $darkGray $white;
    flex: 1 1;
    flex-direction: column;
    padding: 2px;
  }

  &__outer-content {
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: $darkGray $white $white $darkGray;
    flex-grow: 1;
    margin: 8px 0;
  }

  &__inner-content {
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: $black $gray $gray $black;
    background-color: $white;
    flex: 1 1;
    font-size: 14px;
  }

  &__header {
    background-color: $blue;
    color: $white;
    font-size: 15px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      cursor: move;
    }

    &__title {
      width: 100%;
    }

    &__icons {
      display: flex;
      gap: 2px;

      button {
        background-color: $gray;
        width: 16px;
        height: 15px;
        border-width: 1px;
        border-style: solid;
        border-color: $white $black $black $white;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        &.min {
          &:after {
            content: '';
            background-image: url($min);
            background-repeat: no-repeat;
            position: absolute;
            top: 2px;
            left: 1px;
            width: 15px;
            height: 15px;
          }
        }

        &.max {
          &:after {
            content: '';
            background-image: url($max);
            background-repeat: no-repeat;
            position: absolute;
            top: 2px;
            left: 1px;
            width: 15px;
            height: 15px;
          }
        }

        &.close {
          &:after {
            content: '';
            background-image: url($x);
            background-repeat: no-repeat;
            position: absolute;
            top: 2px;
            left: 1px;
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }

  &__footer {
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: $darkGray $white $white $darkGray;
    padding: 2px;
    font-size: 14px;
    position: relative;

    &:after {
      content: '';
      background-image: url($ex);
      background-repeat: no-repeat;
      position: absolute;
      top: 8px;
      right: -3px;
      width: 15px;
      height: 15px;
    }
  }

  // credit: henry heffernan
  &__drag-box {
    display: flex;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    box-sizing: border-box;
    flex-direction: column;
    cursor: move;
    mix-blend-mode: difference;

    .hoz-drag {
      width: 100%;
      height: 6px;
      background-color: $white;
      pointer-events: none;
    }

    .vert-drag-container {
      width: 100%;
      height: calc(100% - 12px);
      display: flex;
      justify-content: space-between;
      pointer-events: none;
    }

    .vert-drag {
      width: 6px;
      height: 100%;
      background-color: $white;
      pointer-events: none;
    }

    .checkerboard {
      background-image: linear-gradient(45deg, black 25%, transparent 25%),
        linear-gradient(-45deg, black 25%, transparent 25%), linear-gradient(45deg, transparent 75%, black 75%),
        linear-gradient(-45deg, transparent 75%, black 75%);
      background-size: 4px 4px;
      background-position:
        0 0,
        0 2px,
        2px -2px,
        -2px 0px;
      pointer-events: none;
    }
  }
}
