$primary-dark-blue: #14293c;
$secondary-dark-blue: #0e2230;
$tertiary-dark-blue: #0c1925;
$primary-light-blue: #66c0f4;
$secondary-light-blue: #4d7f9e;
$tertiary-light-blue: #7f9db5;

.Steam {
  background-color: $primary-dark-blue;
  width: 100%;
  height: 100%;
  font-family: "JetBrainsMono";
  overflow-y: scroll;
  color: $tertiary-light-blue;

  // &:before {
  //   // /* the CRT scanline overlay */
  //   content: '';
  //   position: absolute;
  //   inset: 0;
  //   pointer-events: none; /* never blocks clicks */
  //   opacity: 0.35;
  //   background-image: repeating-linear-gradient(
  //     0deg,
  //     rgba(0, 0, 0, 0.2) 0 2px,
  //     /* 2px dark band  */ transparent 2px 4px /* 2px clear gap  */
  //   );
  // }

  &__navbar {
    background-color: $tertiary-dark-blue;
    height: 3rem;
    display: flex;
    text-transform: uppercase;
    gap: 1rem;
    align-items: center;
  }

  &__navbar-logo {
    font-family: "Silkscreen";
    font-size: 1.25rem;
    height: 100%;
    border-right: 1px solid $secondary-light-blue;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: #fff;
  }

  &__navbar-links {
    color: $tertiary-light-blue;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    span {
      text-decoration: underline;
      letter-spacing: 0.1rem;

      &:hover {
        cursor: pointer;
        background-color: $primary-light-blue;
        color: $tertiary-dark-blue;
      }
    }

    li:after {
      color: #214059;
      content: "/";
      padding: 0 1rem;
    }

    li:last-child:after {
      content: "";
    }
  }

  &__url {
    background-color: $secondary-dark-blue;
    height: 2rem;
    border-top: 1px solid $secondary-light-blue;
    border-bottom: 1px solid $secondary-light-blue;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
  }

  &__url-title {
    color: $secondary-light-blue;
    padding: 0 0.5rem;
    border-right: 1px solid $secondary-light-blue;
  }

  &__url-link {
    color: $tertiary-light-blue;
    padding: 0 0.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    padding: 1rem 2rem;
  }

  &__user-info {
    border-bottom: 1px solid $secondary-light-blue;
  }

  &__user-info-heading {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: $secondary-light-blue;
    width: 100%;
    border-bottom: 1px solid $secondary-light-blue;
    padding: 0.5rem 0;
  }

  &__user-info-content {
    display: flex;
    padding: 1rem 0;
  }

  &__user-info-pic {
    padding: 6px;
    background:
      linear-gradient($primary-light-blue, $primary-light-blue) top left / 9px
        1px no-repeat,
      linear-gradient($primary-light-blue, $primary-light-blue) top left / 1px
        9px no-repeat,
      linear-gradient($primary-light-blue, $primary-light-blue) top right / 9px
        1px no-repeat,
      linear-gradient($primary-light-blue, $primary-light-blue) top right / 1px
        9px no-repeat,
      linear-gradient($primary-light-blue, $primary-light-blue) bottom left /
        9px 1px no-repeat,
      linear-gradient($primary-light-blue, $primary-light-blue) bottom left /
        1px 9px no-repeat,
      linear-gradient($primary-light-blue, $primary-light-blue) bottom right/
        9px 1px no-repeat,
      linear-gradient($primary-light-blue, $primary-light-blue) bottom right/
        1px 9px no-repeat;
  }

  &__user-info-stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 0 0 1rem;
  }

  &__user-info-name {
    font-family: "SilkScreen";
    font-size: 2.5rem;
    background-color: #66c0f4;
    color: $primary-dark-blue;
    align-self: start;
  }

  &__user-info-text {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  &__user-info-label {
    color: $secondary-light-blue;
    padding: 0.25rem 0;
    letter-spacing: 0.2rem;

    &:nth-child(1) {
      padding-top: 0;
    }
  }

  &__user-info-input {
    color: #c9e3f5;
    padding: 0.25rem 0;

    &:nth-child(1) {
      padding-top: 0;
    }

    &:nth-child(2) {
      color: #a4d007;
    }
  }

  &__dashed-border {
    width: 20rem;
    border-bottom: 1px dashed $secondary-light-blue;
  }

  &__content-heading {
    font-family: "Silkscreen";
    color: #fff;
    border-bottom: 1px solid $primary-light-blue;
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;

    &:after {
      content: "///////////////////////////////////////////////////////////////////";
      font-family: "JetBrainsMono";
      color: $secondary-light-blue;
      font-size: 0.7rem;
      padding-left: 0.5rem;
    }
  }

  &__favorites {
  }

  &__favorites-games {
    display: flex;
    gap: 1rem;
  }

  &__favorites-games-card {
    width: 168px;

    img {
      border: 1px solid $tertiary-light-blue;
      display: block;
      max-width: 300px;
      max-height: 250px;
      width: auto;
      height: auto;
    }

    span {
      text-transform: uppercase;
      color: #c9e3f5;
      margin-top: 0.55rem;
      overflow-wrap: break-word;
    }
  }

  &__recently-played {
    color: #c9e3f5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // gap: 0.5rem;
  }

  &__recently-played-game {
    display: flex;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    gap: 0.5rem;
    border-bottom: 1px dashed $secondary-light-blue;
  }

  &__recently-played-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
  }

  &__recently-played-hours {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    span:first-child {
      font-family: "Silkscreen";
      font-size: 1.5rem;
      color: #fff;
    }

    span:last-child {
      font-size: 0.6rem;
      letter-spacing: 0.15rem;
      color: $tertiary-light-blue;
    }
  }
}

/* the page fill */
// body {
//   margin: 0;
//   background: #0b1a26;        /* outer / chrome-dark */
// }

// .app {
//   min-height: 100vh;
//   min-width: 1180px;
//   background: $primary-dark-blue;        /* main navy field */
//   position: relative;         /* anchors the overlay */
// }

// /* the CRT scanline overlay */
// .app::before {
//   content: "";
//   position: absolute;
//   inset: 0;
//   pointer-events: none;       /* never blocks clicks */
//   opacity: 0.35;
//   background-image: repeating-linear-gradient(
//     0deg,
//     rgba(0, 0, 0, 0.2) 0 2px,   /* 2px dark band  */
//     transparent       2px 4px   /* 2px clear gap  */
//   );
// }

// <div style="position:absolute;inset:0;pointer-events:none;opacity:.35;
//             background-image:repeating-linear-gradient(0deg,rgba(0,0,0,.2) 0 2px,transparent 2px 4px)"></div>
