@use "../../../constants/colors" as *;

.AboutMe {
  color: $white;
  background-color: #000;
  background-image: url("/images/bluestars.gif");
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-family: "PC98";
  font-size: 1rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 8rem;
  }

  &__card {
    background-color: $black;
    border: 1px solid #2b2aff;
    padding: 0.5rem;
  }

  &__header {
    display: flex;
    border: 1px solid #2b2aff;

    img {
      width: 100%;
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    gap: 1rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__sidebar {
    width: 12rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__links-button {
    width: 100%;
    font-family: "PC98";
    font-size: 1rem;
    color: $white;
    background-color: $black;
    border: none;
    text-align: left;
    transition: background-color 0.25s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.25rem;

    &:before {
      content: "◈";
      font-family: "Courier New", Courier, monospace;
    }
  }

  &__links-button--active {
    &:before {
      color: #2b2aff;
    }

    &:hover {
      cursor: pointer;
      color: #03fafa;
    }
  }

  &__links-button--disabled {
    color: #63638f;

    &:before {
      color: #1f1f6a;
    }

    &:after {
      content: "soon";
      color: #3b3a80;
      font-size: 1rem;
      display: flex;
      align-self: start;
      font-family: "VT323";
    }
  }

  &__status {
  }

  &__text {
    a {
      color: #03fafa;
      padding-bottom: 2px;

      &:hover {
        color: $black;
        background-color: #03fafa;
      }
    }
  }

  &__title {
    font-family: "Pixel English";
    font-size: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__divider {
    margin-bottom: 0.5rem;
    &:before {
      content: "⊹˚₊‧───────────────‧₊˚⊹";
      color: #03fafa;
      display: flex;
      justify-content: center;
    }
  }

  &__status-text {
    display: flex;
    font-family: "VT323";
  }

  &__status-text-question {
    color: #2b2aff;
    margin-right: 0.5rem;
  }

  &__status-text-answer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #000;

    &:hover {
      overflow: visible;
      z-index: 5;
    }
  }

  &__visitor-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__visitor-counter {
    border: 1px solid #2b2aff;
    color: #03fafa;
    font-family: "VT323";
    font-size: 1.5rem;
    display: flex;
  }

  &__visitor-text {
    font-family: "VT323";
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__visitor-subtext {
    color: #8888bd;
  }

  &__canvas {
    width: 300px;
    height: 300px;
    background-color: #080808;
  }
}
