.content {
  width: 1200px;
  height: 1070px;
  background: #000;
  border-radius: 3px;
  /* overflow-y: auto; */
  padding: 10px;
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  height: 1070px;
  overflow: hidden;
}

.wrapper::after {
  /* the CRT scanline overlay */
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none; /* never blocks clicks */
  opacity: 0.35;
  background-image: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0 2px,
    /* 2px dark band  */ transparent 2px 4px /* 2px clear gap  */
  );
  z-index: 100;
}
